div > form > .passwordField {
  margin-bottom: 60px;
}

.divider {
  margin-left: 8%;
  margin-right: 8%;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  color: #262f66;
}

ul > .manage-menu {
  color: darkred;
}

.invertAvatar {
  filter: invert(100%);
}
